<!-- HEADER INCLUDE: Add button, delete button and refresh button -->
<div class="d-flex pb-2">
    <button type="button" (click)="openModalAddCategory()" class="btn btn-primary">
        <i class="fa fa-plus"></i>Thêm danh mục
    </button>
    <a id="openModalAdd" [hidden]="true" data-toggle="modal" data-target="#addCategory"></a>
    &nbsp;
    <button type="button" (click)="deleteDataCategory()" class="btn btn-danger">
        <i class="fa fa-times"></i>&nbsp;&nbsp;Xóa danh mục
    </button>
    &nbsp;
    <button (click)="refreshAllData()" type="button" class="btn btn-info">
        <i class="fa fa-refresh"></i>Làm mới
    </button>
    &nbsp;
    <!-- Dropdown sorting by condition -->
    <div class="dropdown show">
        <a class="btn btn-info dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;Sắp xếp theo
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a style="cursor: pointer;" class="dropdown-item" (click)="sortDefaultOption()">Mặc định</a>
            <a style="cursor: pointer;" class="dropdown-item" (click)="sortAlphabetCategoryName()">Tên
                danh mục A-Z</a>
            <a style="cursor: pointer;" class="dropdown-item" (click)="sortAlphabetCategoryNameReverse()">Tên
                danh mục Z-A</a>
            <a style="cursor: pointer;" class="dropdown-item" (click)="sortCreatedDateOption()">Ngày tạo
                giảm dần</a>
            <a style="cursor: pointer;" class="dropdown-item" (click)="sortUpdatedDateOption()">Ngày cập
                nhật giảm dần</a>
        </div>
    </div>
</div>
<!-- END HEADER INCLUDE: Add button, delete button and refresh button -->

<!-- DATA TABLE SHOW DATA AND HANDLE -->
<div class="card shadow">
    <!-- HEADER CARD TABLE -->
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div style="margin-left: -6px;">
                <h5 id="exampleModalLabel" style="color: #09133A;">Quản lý danh mục</h5>
            </div>
            <!-- SEARCHING FORM INPUT -->
            <form class="form-inline float-right">
                <input class="form-control" autofocus type="search" (keyup)="searchDataCatalogue()" id="keywordSearch"
                    placeholder="Tìm kiếm theo tên danh mục..." aria-label="Search" name="keywordSearch"
                    [formControl]='myControl'>
            </form>
            <!-- END SEARCHING FORM INPUT -->
        </div>
    </div>
    <!-- END HEADER CARD TABLE -->

    <!-- BODY CARD TABLE -->
    <div class="card-body" style="height: 300px;">
        <!-- LIST TABLE DATA -->
        <div class="table-responsive scroll-table" style="height: 230px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 8%;"></th>
                        <th style="width: 20%;" class="justify-content-between">Tên danh mục&nbsp;&nbsp;
                            <i (click)="sortAlphabetColumn()" class="fa fa-sort"></i>
                            <!-- <i (click)="sortAlphabetColumn()" *ngIf="isReverse" class="fa fa-sort-desc"></i>
                            <i (click)="sortAlphabetColumn()" *ngIf="!isReverse" class="fa fa-sort-asc"></i> -->
                        </th>
                        <th style="width: 20%;">SeoURL&nbsp;&nbsp;
                            <i (click)="sortAlphabetColumn()" class="fa fa-sort"></i>
                            <!-- <i (click)="sortAlphabetColumn()" *ngIf="isReverse" class="fa fa-sort-desc"></i>
                            <i (click)="sortAlphabetColumn()" *ngIf="!isReverse" class="fa fa-sort-asc"></i> -->
                        </th>
                        <th style="width: 20%;text-align: center">Ngày tạo&nbsp;&nbsp;
                            <i (click)="sortDateColumn()" class="fa fa-sort"></i>
                            <!-- <i (click)="sortDateColumn()" *ngIf="isReverse" class="fa fa-sort-desc"></i>
                            <i (click)="sortDateColumn()" *ngIf="isReverse" class="fa fa-sort-asc"></i> -->
                        </th>
                        <th style="width: 20%;text-align: center">Ngày chỉnh sửa&nbsp;&nbsp;
                            <i (click)="sortDateColumn()" class="fa fa-sort"></i>
                            <!-- <i (click)="sortDateColumn()" *ngIf="isReverse" class="fa fa-sort-desc"></i>
                            <i (click)="sortDateColumn()" *ngIf="isReverse" class="fa fa-sort-asc"></i> -->
                        </th>
                        <th style="width: 12%;text-align: center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody *ngIf="listCatalogues.length != 0">
                    <tr id="mytable"
                        *ngFor="let item of listCatalogues | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: pageLength}">
                        <td>
                            <div class="custom-control custom-checkbox" style="margin-top: 9px;">
                                <input type="checkbox" class="checkbox-round" name="checkcategory"
                                    (change)="getCheckedOnList($event, item?.id)">
                            </div>
                        </td>
                        <td>
                            {{
                            item?.name == "" || item?.name == null || item?.name.length == 0
                            ? 'Dữ liệu trống'
                            : item?.name.length > 15
                            ? item?.name.substring(0, 15).concat('...')
                            : item?.name
                            }}
                        </td>
                        <td>
                            {{
                            item?.code == "" || item?.code == null || item?.code.length == 0
                            ? 'Dữ liệu trống'
                            : item?.code.length > 15
                            ? item?.code.substring(0, 15).concat('...')
                            : item?.code
                            }}
                        </td>
                        <td style="text-align: center;">
                            {{
                            item?.createdDate == '' || item?.createdDate == null
                            ? 'Đã được tạo trống'
                            : item?.createdDate | date:"dd-MM-yyyy HH:mm"
                            }}
                        </td>
                        <td style="text-align: center;">
                            {{
                            item?.modifiedDate == item?.createdDate
                            ? 'Chưa được cập nhật'
                            : item?.modifiedDate
                            | date:"dd-MM-yyyy HH:mm"
                            }}
                        </td>
                        <td style="text-align: center;">
                            <!-- Button show detail data -->
                            <a (click)="showDetailData(item?.code)"><i class="fa fa-eye text-success"></i></a>
                            <!-- Check data id exists if ok then click on openModalDetail -->
                            <a id="openModalDetail" [hidden]="true" data-toggle="modal"
                                data-target="#detailCategory"></a>
                            &nbsp;&nbsp;
                            <!-- Button update data category -->
                            <a (click)="updateCategoryData(item?.code)"><i class="fa fa-edit text-primary"></i></a>
                            <!-- Check data id exists if ok then click on openModalUpdate -->
                            <a id="openModalUpdate" [hidden]="true" data-toggle="modal"
                                data-target="#updateCategory"></a>
                            &nbsp;&nbsp;
                            <a (click)="deleteCategoryDataById(item?.id)"><i class="fa fa-trash text-danger"></i></a>
                            <!-- Check data id exists if ok then click on openModalButton -->
                            <a id="openModalButton" [hidden]="true" data-toggle="modal"
                                data-target="#deleteCategory"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="listCatalogues.length == 0">
                <!-- <img src="https://cdn.dribbble.com/users/2382015/screenshots/6065978/no_result_still_2x.gif?compress=1&resize=400x300" alt="" srcset=""> -->
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <!-- <img width="100px" height="100px" src="https://digitalcollections.newmanstudies.org/assets/images/result_not_found.png" alt="" srcset=""> -->
                            <div class="text-center bg-white" style="padding-top: 50px;">
                                Oops...! Không có kết quả nào được tìm thấy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END LIST TABLE DATA -->
        <div class="pt-2"></div>
        <!-- PAGiNATION DATA TABLE -->
        <div class="d-flex">
            <div class="col-md-5 d-flex mr-auto pt-2">
                <span class="col-md-3" style="margin-left: -20px;">Hiển thị: </span>
                <select style="height: 33px;margin-top:-6px;margin-left: -28px;border: 1px solid #F1F1F1;"
                    class="form-control col-sm-2 border" placeholder="Select page" (change)='onOptionsSelected($event)'
                    id="exampleFormControlSelect1">
                    <option *ngFor="let pageSize of pageSizeOptions" [value]="pageSize">{{pageSize}}</option>
                </select>
            </div>
            <div class="d-flex">
                <span for="inputPassword" class="show-page-text col-md-10">Hiển thị {{pageSize}} trên
                    {{pageLength}} bản ghi</span>
                <form [formGroup]="formGoToPage" (ngSubmit)="submitGoToPage()">
                    <input type="text" formControlName="numberPage" class="goto-box-page form-control" value="{{page}}">
                </form>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div>
                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page" [maxSize]="6" boundary-links="true">
                </pagination-controls>
            </div>
        </div>
        <!-- END PAGiNATION DATA TABLE -->
    </div>
    <!-- END BODY CARD TABLE -->
</div>
<!-- END DATA TABLE SHOW DATA AND HANDLE -->

<!-- MODAL ADD DATA -->
<div class="modal fade" id="addCategory" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
                <button type="button" class="close" (click)="confirmBeforeCloseAddCatalogue()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formData" (ngSubmit)="submitDataCategory()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Tên danh mục <span
                                class="important-input">*</span></label>
                        <input ng-init="$element.focus()" tab-index="1" type="text" autofocus="autofocus" required
                            maxlength="35" class="form-control" (keyup)="renderForCodeSEO()" formControlName="name"
                            name="name" id="nameAddCategory" placeholder="Tên danh mục" #input
                            [ngClass]="{
                                'is-valid': (formData.controls?.name?.valid && (formData.controls?.name?.touched)),
                                'is-invalid': (formData.controls?.name?.invalid && (formData.controls?.name?.touched))}">
                        <!-- {{ myInput.focus() }}  [ngClass]="{ 'is-invalid': formData.controls.name.errors }" -->
                        <div *ngIf="formData.controls.name.errors" class="invalid-feedback">
                            <div *ngIf="formData.controls.name.errors?.required">Tên danh mục không để trống!</div>
                            <div *ngIf="formData.controls.name.errors?.largeName">Tên danh mục không quá 30 ký tự!
                            </div>
                            <!-- <div *ngIf="formData.controls.name.errors?.smallName">Tên danh mục không nhỏ hơn 5 ký
                                tự!</div> -->
                            <div *ngIf="formData.controls.name.errors?.alreadyExist">Tên danh mục đã tồn tại!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Code</label>
                        <input type="text" readonly formControlName="code" tab-index="2" class="form-control"
                            name="code" id="code">
                        <!-- <div *ngIf="formData.controls.name.errors" class="invalid-feedback">
                            <div *ngIf="formData.controls.name.errors.required">Ký tự: the-gioi giống tên danh mục
                            </div>
                        </div> -->
                    </div>

                    <div class="form-group text-right">
                        <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                        <button (click)="confirmBeforeCloseAddCatalogue()" tab-index="3" type="button"
                            class="btn btn-secondary">Đóng</button>
                        &nbsp;
                        <button type="submit" (keydown.Tab)="onKey($event);false;" tab-index="4"
                            class="btn btn-primary"><i class="fa fa-plus"></i>
                            Thêm</button>
                        <button hidden id="cancelSubmit" data-dismiss="modal" #closeBtn></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL ADD DATA -->

<!-- MODAL DETAIL DATA -->
<div class="modal fade bd-example-modal-lg" id="detailCategory" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <!-- modal-dialog-scrollable -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formDetail">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Tên danh mục</label>
                            <!-- (keyup)="renderForCodeSEO()" -->
                            <input type="text" class="form-control" readonly formControlName="name" name="name"
                                id="name" placeholder="Tên danh mục">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">SeoURL</label>
                            <input type="text" formControlName="code" readonly class="form-control" name="code"
                                id="code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Ngày tạo</label>
                            <input type="text" formControlName="createdDate" readonly class="form-control"
                                name="createdDate" id="createdDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Người tạo</label>
                            <input type="text" formControlName="createdBy" readonly class="form-control"
                                name="createdBy" id="createdBy">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Ngày chỉnh sửa</label>
                            <input type="text" formControlName="modifiedDate" readonly class="form-control"
                                name="modifiedDate" id="modifiedDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Người chỉnh sửa</label>
                            <input type="text" formControlName="modifiedBy" readonly class="form-control"
                                name="modifiedBy" id="modifiedBy">
                        </div>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                        <div><label for="exampleFormControlInput1">Các sản phẩm thuộc danh mục <strong>{{
                                    formDetail.value.name }}</strong></label></div>
                        <div><a (click)="closeModalDetail()" style="color: blue;text-decoration: underline;"
                                routerLink="/product">Xem chi tiết</a></div>
                    </div>
                    <div class="table-responsive scroll-table" style="height: 230px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10%;"></th>
                                    <th>Tên sản phẩm</th>
                                    <th>Danh mục</th>
                                    <th style="width: 14%;text-align: right">Giá</th>
                                    <th style="width: 12%;text-align: center">Trạng thái</th>
                                    <!-- <th style="width: 12%;text-align: center">Tác vụ</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listProducts" id="mytable">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="checkbox-round" name="checkproduct"
                                            (change)="getCheckedOnList($event, item?.id)">
                                        </div>
                                    </td>
                                    <td>
                                        {{
                                        item?.productName == "" || item?.productName == null || item?.productName.length
                                        ==
                                        0
                                        ? 'Dữ liệu trống'
                                        : item?.productName.length > 20
                                        ? item?.productName.substring(0, 20).concat('...')
                                        : item?.productName
                                        }}
                                    </td>
                                    <td>{{ item?.category?.name }}</td>
                                    <!-- <td>{{ item?.brand?.name }}</td> -->
                                    <td style="text-align: right;">
                                        {{item?.price |currency:"VND":"symbol"}}
                                    </td>
                                    <td style="text-align: center;">
                                        <span *ngIf="item?.status == 1"
                                            class="badge rounded-pill bg-warning badge-status">
                                            Hàng mới nhập
                                        </span>
                                        <span *ngIf="item?.status == 2"
                                            class="badge rounded-pill bg-primary badge-status">
                                            Trong kho
                                        </span>
                                        <span *ngIf="item?.status == 3"
                                            class="badge rounded-pill bg-success badge-status">
                                            Đang bán
                                        </span>
                                        <span *ngIf="item?.status == 4"
                                            class="badge rounded-pill bg-danger badge-status">
                                            Đang chờ nhập
                                        </span>
                                    </td>
                                    <!-- <td>
                                        <a><i class="fa fa-trash text-danger"></i></a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <br> -->
                    <div hidden class="form-group">
                        <button type="button" class="btn btn-secondary" id="cancelDetail" #closeBtn
                            data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL DETAIL DATA -->

<!-- MODAL UPDATE DATA -->
<div class="modal fade" id="updateCategory" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUpdate" (ngSubmit)="saveUpdateDataCategory()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Tên danh mục <span
                                class="important-input">*</span></label>
                        <!-- (keyup)="renderForCodeSEO()" -->
                        <input type="text" tabindex="20" autofocus required class="form-control" formControlName="name"
                            name="name" id="name" placeholder="Tên danh mục" (keyup)="renderForCodeSEOUpdate()"
                            [ngClass]="{ 'is-invalid': formUpdate.controls.name?.errors && (formUpdate.controls.name?.touched || formUpdate.controls.name?.dirty)}"
                            autofocus>
                        <div *ngIf="formUpdate.controls.name?.errors && formUpdate.controls.name?.touched"
                            class="invalid-feedback">
                            <div *ngIf="formUpdate.controls.name.errors?.required">Tên danh mục không để trống!</div>
                            <div *ngIf="formUpdate.controls.name.errors?.largeName">Tên danh mục không quá 30 ký tự!
                            </div>
                            <div *ngIf="formUpdate.controls.name.errors?.smallName">Tên danh mục không nhỏ hơn 5 ký
                                tự!</div>
                            <div *ngIf="formUpdate.controls.name.errors?.alreadyExist">Tên danh mục đã tồn tại!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Code</label>
                        <input type="text" formControlName="code" readonly class="form-control" name="code" id="code">
                    </div>
                    <div class="form-group">
                        <button type="submit" tabindex="21" [disabled]="!formUpdate.valid" class="btn btn-primary"><i
                                class="fa fa-edit"></i>
                            Chỉnh sửa</button>
                        &nbsp;
                        <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                        <button type="button" tabindex="22" id="cancelUpdate" class="btn btn-secondary"
                            data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL UPDATE DATA -->

<!-- MODAL CONFIRM DELETE DATA -->
<div class="modal fade bd-example-modal-lg" id="deleteCategory" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: flex;justify-content: space-between;">
                    <div><label for="exampleFormControlInput1">Danh mục <strong>{{ categoryName }}</strong>
                            có {{listProducts.length}} sản phẩm</label></div>
                    <div><a (click)="closeModalDetail()" style="color: blue;text-decoration: underline;"
                            routerLink="/product">Xem chi tiết</a></div>
                </div>
                <div class="table-responsive scroll-table" style="height: 230px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10%;"></th>
                                <th>Tên sản phẩm</th>
                                <th>Danh mục</th>
                                <th style="width: 14%;text-align: right">Giá</th>
                                <th style="width: 12%;text-align: center">Trạng thái</th>
                                <th style="width: 12%;text-align: center">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listProducts" id="mytable">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="checkbox-round" name="checkproduct">
                                    </div>
                                </td>
                                <td>
                                    {{
                                    item?.productName == "" || item?.productName == null || item?.productName.length ==
                                    0
                                    ? 'Dữ liệu trống'
                                    : item?.productName.length > 20
                                    ? item?.productName.substring(0, 20).concat('...')
                                    : item?.productName
                                    }}
                                </td>
                                <td>{{ item?.category?.name }}</td>
                                <!-- <td>{{ item?.brand?.name }}</td> -->
                                <td style="text-align: right;">
                                    {{item?.price |currency:"VND":"symbol"}}
                                </td>
                                <td style="text-align: center;">
                                    <span *ngIf="item?.status == 1" class="badge rounded-pill bg-warning badge-status">
                                        Hàng mới nhập
                                    </span>
                                    <span *ngIf="item?.status == 2" class="badge rounded-pill bg-primary badge-status">
                                        Trong kho
                                    </span>
                                    <span *ngIf="item?.status == 3" class="badge rounded-pill bg-success badge-status">
                                        Đang bán
                                    </span>
                                    <span *ngIf="item?.status == 4" class="badge rounded-pill bg-danger badge-status">
                                        Đang chờ nhập
                                    </span>
                                </td>
                                <td>
                                    <a><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <br> -->
            </div>
            <div class="modal-footer">
                <div *ngIf="listProducts.length == 0">
                    <button id="continueDelete" (click)="continueDeleteData(categoryId)" class="btn btn-danger">Tiếp
                        tục xóa danh mục {{categoryName}}</button>
                </div>
                <button class="btn btn-info" data-dismiss="modal">Thoát</button>
                <div hidden class="form-group">
                    <button type="button" class="btn btn-secondary" id="cancelDelete" #closeBtn
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL CONFIRM DELETE DATA -->